*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: sandybrown;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  margin: auto;
  background-color: burlywood;
  padding: 10px;
  margin-top: 20px;
   box-shadow: 5px 5px 5px 5px rgb(133, 119, 102);
   border-radius: 20px;
   display: flex;
   justify-content: center;
}

.header h1{
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 0.2em;
}

.header p{
   text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  font-style: italic;
  letter-spacing: 0.1em;
}

.header input{
  width: 110%;
  border: none;
  outline: none;
  border-radius: 7px;
   box-shadow: 2px 3px 2px 3px burlywood;
}

.header input::placeholder{
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
  padding-left: 5px;
}

.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: sienna;
  margin-top: 20px;
  padding-left: 20px;
  box-shadow: 5px 5px 5px 5px rgb(133, 119, 102);
  border-radius: 10px;
  height: 300px;
  overflow: visible;
}

.head h2{
  color: aliceblue;
  padding-top: 5px;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
  font-size: 1.9rem;
  letter-spacing: 0.1em;
  line-height: 40px;
}

.head p{
   color: aliceblue;
  font-weight: 500;
  font-size: 1.5rem;
  font-style: italic;
  padding-top: 9px;
  line-height: 30px;
}

.head button{
  margin-top: 20px;
  width: 50%;
  background-color: cornsilk;
   color: black;
   font-size: 1rem;
   border-radius: 5px;
   box-shadow: 1px 1px 1px 1px salmon;
}

.head img{
  width: 110P%;
  max-width: 110%;
  height: auto;
}